<!DOCTYPE html>
{% extends 'ccfit_app/base.html' %}
{% block body_block %}
<div class="box-invoice">
  <form method="GET">
    <div class="search">
      <input type="text" placeholder="Type the email" name="search" id="button-addon1" class="search__input">
      <button type="submit" id="button-addon1" class="search__btn" >Search</button>
    </div>
    <table class="table" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th class="table__header">Email</th>
          <th class="table__header">Gender</th>
          <th class="table__header">Type</th>
          <th class="table__header">Active</th>
          <th class="table__header">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td class="table__item">{{ user.email }}</td>
          <td class="table__item">{{ user.gender }}</td>
          <td class="table__item">{{ user.type }}</td>
          <td class="table__item">{{ user.active }}</td>
          <td class="table__item">
            <div class="icon-group">
              <button type="button" class="btn btn__small" onclick="location.href='{% url 'ccfit_app:update_user' user.pk %}'"  title="Editar informações do cliente">
                Update
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</div>

{% endblock %}
