<!DOCTYPE html>
{% extends 'ccfit_app/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block body_block %}
<section class="box-center">
    <div class="content">
        <h2 class="heading-2">Edit Password</h2>
        <form method="post" id="loginForm">
            <div class="content">
                {% csrf_token %}
                {% render_field form.old_password class="box__input box__input-1" placeholder="Old Password"%}
                {% render_field form.new_password1 class="box__input box__input-1" placeholder="New Password"%}
                {% render_field form.new_password2 class="box__input box__input-1" placeholder="Confirm New Password"%}
            <button type="submit" class="btn btn__2c">Change Password</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
