<!DOCTYPE html>
{% extends 'ccfit_app/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block body_block %}
<div class="container">
    <h1>Change Password</h1>

    <form class="user"  method="post" id="loginForm">
        {% csrf_token %}
        <p>{{form.old_password.label}}: {% render_field form.old_password %}</p>
        <p>{{form.new_password1.label}}: {% render_field form.new_password1 %}</p>
        <p>Your password can’t be too similar to your other personal information.</p>
        <p>Your password must contain at least 8 characters.</p>
        <p>Your password can’t be a commonly used password.</p>
        <p>Your password can’t be entirely numeric.</p>
        <p>{{form.new_password2.label}}: {% render_field form.new_password2 %}</p>
        <button type="submit" class="font-weight-bold btn btn-warning btn-block">Change Password</button>
    </form>
    <a href="{% url 'ccfit_app:signup' %}" class="btn btn-simple">Sign up</a>
</div>
{% endblock %}
