<!DOCTYPE html>
{% extends 'ccfit_app/base.html' %}
{% block body_block %}
<div class="box-amount">
    <div class="count-amount">
      <h2 class="heading-2">List of users for this section:</h2>
      <table class="table">
        <tr>
          <td class="table__header">email</td>
          <td class="table__header">name</td>
          <td class="table__header">class type</td>
        </tr>

        {% for key, values in data.items %}
        <tr>
          <td class="table__item">{{key}}</td>
          {% for v in values %}
          <td class="table__item">{{v}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>

{% endblock %}
