<!DOCTYPE html>
{% extends 'ccfit_app/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block body_block %}
<div class="container">
    <h1>CREATE PROFILE PAGE</h1>

    <form class="user"  method="post" id="loginForm">
        {% csrf_token %}
        <p>{{form.nickname.label}}: {% render_field form.nickname %}</p>
        <p>{{form.gender.label}}: {% render_field form.gender %}</p>
        <p>{{form.birth_date.label}}: {% render_field form.birth_date type="date"%}</p>
        <p>{{form.address1.label}}: {% render_field form.address1 %}</p>
        <p>{{form.address2.label}}: {% render_field form.address2 %}</p>
        <p>{{form.county.label}}: {% render_field form.county %}</p>
        <p>{{form.country.label}}: {% render_field form.country %}</p>
        <p>{{form.prefix.label}}: {% render_field form.prefix %}</p>
        <p>{{form.phone.label}}: {% render_field form.phone %}</p>
        <button type="submit" class="font-weight-bold btn btn-warning btn-block">EDIT IT</button>
    </form>
</div>
{% endblock %}
