<!DOCTYPE html>
{% extends 'ccfit_app/base.html' %}
{% load widget_tweaks %}


{% block body_block %}
<div class="container">
    <h1>EDIT PROFILE</h1>

    <form class="user"  method="post" id="loginForm">
        {% csrf_token %}
        <p>{{form.email.label}}: {% render_field form.email %}</p>
        <p>{{form.first_name.label}}: {% render_field form.first_name %}</p>
        <p>{{form.last_name.label}}: {% render_field form.last_name %}</p>
        <p><a href="{% url 'ccfit_app:change_password' %}">Click here</a> to change the user password</p>
        <button type="subtmit" class="font-weight-bold btn btn-warning btn-block">Edit Profile</button>
    </form>
</div>
{% endblock %}
