<!DOCTYPE html>
{% extends 'ccfit_app/base.html' %}
{% block body_block %}
<div class="box-invoice">


{% if invoices %}
  <form method="GET">
    <div class="search">
      <input type="text" placeholder="Type the email" name="search" id="search" class="search__input">
      <button type="submit" id="button-addon1" class="search__btn" >Search</button>
    </div>
      <table class="table" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <td class="table__header">Email</td>
            <td class="table__header">From date</td>
            <td class="table__header">To date</td>
            <td class="table__header">Year</td>
            <td class="table__header">Cost</td>
            <td class="table__header">Type</td>
            <td class="table__header">Status</td>
            <td class="table__header">Action</td>
          </tr>
        </thead>
        <tbody>
          {% for invoice in invoices %}
          <tr>
            <td class="table__item table__item table__item-small">{{ invoice.email }}</td>
            <td class="table__item table__item-small">{{ invoice.from_date }}</td>
            <td class="table__item table__item-small">{{ invoice.to_date }}</td>
            <td class="table__item table__item-small">{{ invoice.year }}</td>
            <td class="table__item table__item-small">{{ invoice.cost }}</td>
            <td class="table__item table__item-small">{{ invoice.type }}</td>
            <td class="table__item table__item-small">{{ invoice.status }}</td>
            <td class="table__item table__item-small">
              <div class="icon-group">
                <a class="icon icon-1" href="{% url 'ccfit_app:invoice_user' invoice.pk %}" target="_blank">View Invoice</a>
                {% if invoice.type == 'MONTHLY PAYMENT' and invoice.status == 'GENERATE'  %}
                  <a class="icon icon-2" href="{% url 'ccfit_app:send_invoice' invoice.pk %}">Send to user</a>
                {% endif %}
                {% if invoice.status != 'PAID'  %}
                  <a class="icon icon-3" href="{% url 'ccfit_app:mark_paid' invoice.pk %}">Mark as paid</a>
                {% endif %}
              </div>
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    <!-- </div> -->
  </form>
{% else %}
<h3>There are no invoices to generate</h3>
{% endif %}
</div>

{% endblock %}
