


<!DOCTYPE html>
{% extends 'ccfit_app/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block body_block %}
<section class="box-signup">
    <form class="user"  method="post" id="loginForm">
      <div class="box">
        <div class="box__logo">CC <span class="box__logo-color"> fit</span></div>
        <h2>Signin</h2>
        {% csrf_token %}
        <input type="email" name="email" id="email" class="box__input" placeholder="E-mail" required>
        <input type="password" name="password" id="password" class="box__input" placeholder="Password" required>

        <button type="submit" class="btn">Access</button>
        <input type="button" class="btn btn-info" value="Sing Up" onclick="location.href='{% url 'ccfit_app:signup' %}';">
      </div>
    </form>
  </section>
{% endblock %}
