<!DOCTYPE html>
{% extends 'ccfit_app/base.html' %}
{% block body_block %}
<h1>THATS THE BOOKING PAGE FOR SPIN</h1>
<a href="{% url 'ccfit_app:index' %}">SOMETHING HERE</a>
<input type="date" id="date-input" value="{{date}}" disabled required />
<p></p>
<!--{{ form.my_date_field }}-->
<script>

var perfEntries = performance.getEntriesByType("navigation");

if (perfEntries[0].type === "back_forward") {
    location.reload(true);
}
</script>


{% if session_1.expired %}
<div class="">
  <b>{{session_1.start}} - {{session_1.finish}}</b><button  type="button" onclick="location.href='{% url 'ccfit_app:check_booking_spin' session=1 %}'" name="button" {% if session_1.enable %} disabled {% endif %}>{{session_1.status}}</button>
</div>
{% endif %}

{% if session_2.expired %}
<div class="">
  <b>{{session_2.start}} - {{session_2.finish}}</b><button  type="button" onclick="location.href='{% url 'ccfit_app:check_booking_spin' session=2 %}'" name="button" {% if session_2.enable %} disabled {% endif %}>{{session_2.status}}</button>
</div>
{% endif %}

{% if session_3.expired %}
<div class="">
  <b>{{session_3.start}} - {{session_3.finish}}</b><button  type="button" onclick="location.href='{% url 'ccfit_app:check_booking_spin' session=3 %}'" name="button" {% if session_3.enable %} disabled {% endif %}>{{session_3.status}}</button>
</div>
{% endif %}


{% if session_4.expired %}
<div class="">
  <b>{{session_4.start}} - {{session_4.finish}}</b><button  type="button" onclick="location.href='{% url 'ccfit_app:check_booking_spin' session=4 %}'" name="button" {% if session_4.enable %} disabled {% endif %}>{{session_4.status}}</button>
</div>
{% endif %}



{% if session_5.expired %}
<div class="">
  <b>{{session_5.start}} - {{session_5.finish}}</b><button  type="button" onclick="location.href='{% url 'ccfit_app:check_booking_spin' session=5 %}'" name="button" {% if session_5.enable %} disabled {% endif %}>{{session_5.status}}</button>
</div>
{% endif %}



{% if session_6.expired %}
<div class="">
  <b>{{session_6.start}} - {{session_6.finish}}</b><button  type="button" onclick="location.href='{% url 'ccfit_app:check_booking_spin' session=6 %}'" name="button" {% if session_6.enable %} disabled {% endif %}>{{session_6.status}}</button>
</div>
{% endif %}

{% endblock %}
