<!DOCTYPE html>
{% extends 'ccfit_app/base.html' %}
{% load widget_tweaks %}
{% block body_block %}

<section class="box-center">
  <div class="content">
    <h2 class="heading-2">Manage users</h2>
    <form method="post">
      <div class="content">
        {% csrf_token %}
        {% render_field form.type class="box__input box__input-1" placeholder="Type" %}
        {% render_field form.active class="box__input box__input-1" placeholder="Active" %}
        {% render_field form.nickname class="box__input box__input-1" placeholder="Nickname" %}
        {% render_field form.gender class="box__input box__input-1" placeholder="Gender" %}
        {% render_field form.birth_date class="box__input box__input-1" placeholder="DOB" %}
        {% render_field form.address1 class="box__input box__input-1" placeholder="Address 1" %}
        {% render_field form.address2 class="box__input box__input-1" placeholder="Address 2" %}
        {% render_field form.county class="box__input box__input-1" placeholder="County" %}
        {% render_field form.country class="box__input box__input-1" placeholder="Country" %}
        {% render_field form.prefix class="box__input box__input-1" placeholder="Prefix" %}
        {% render_field form.phone class="box__input box__input-1" placeholder="Phone" %}
        <button type="submit" class="btn btn__2c">Save changes</button>
      </div>
    </form>
  </div>
</section>2
{% endblock %}
