<!DOCTYPE html>
{% extends 'ccfit_app/base.html' %}
{% block body_block %}
<h1>THATS THE UPDATE USER PAGE</h1>
<a href="{% url 'ccfit_app:index' %}">SOMETHING HERE</a>
<p></p>

<form method="post">
  {% csrf_token %}

    {{ form.type }}
    {{ form.active }}
    <input type="submit" value="Update">
</form>
<a class="btn btn-info" href="{% url 'ccfit_app:pdf_view' %}" target="_blank">View Invoice</a>
<a class="btn btn-info"  href="{% url 'ccfit_app:pdf_download' %}">Download Invoice</a>


{% endblock %}
